@media (max-width: 1030px) {
    #redes {
        margin: 0% 10% 0% 30%;
    }
    #adress {
        margin: 0% 30%;
    }
}

@media (max-width: 975px) {
    #redes {
        margin: 0% 10% 0% 27%;
    }
}

@media (max-width: 780px) {
    #redes {
        margin: 0% 10% 0% 20%;
    }
    #adress {
        margin: 0% 25%;
    }
}

@media (max-width: 630px) {
    header {
        height: 40px;
    }
    #redes {
        margin: 0% 5% 0% 20%;
    }
    #adress {
        margin: 0% 20%;
    }
}

@media (max-width: 530px) {
    #redes {
        margin: 0% 5% 0% 15%;
    }
    #adress {
        margin: 0% 15%;
    }
}

@media (max-width: 460px) {
    h1 {
        font-size: 180%;
    }
    #adress {
        margin: 0% 10%;
    }
}

@media (max-width: 350px) {
    header {
        height: 35px;
    }
    #redes {
        font-size: 140%;
    }
    h1 {
        font-size: 160%;
    }
    h2 {
        font-size: 130%;
    }
    #adress {
        margin: 0% 15%;
    }
    footer {
        font-size: small;
    }
}

@media (max-width: 290px) {
    header {
        height: 30px;
    }
    #redes {
        margin: 0% 5% 0% 10%;
        font-size: 120%;
    }
    h1 {
        font-size: 140%;
    }
    h2 {
        font-size: 120%;
    }
    #adress {
        margin: 0% 15%;
    }
}